/* tablet */
@media (max-width: 1023px) {
    .my-skill {
        height: fit-content !important;
    }

    .my-skill .my-skill-title h1 {
        font-size: 50px;
        letter-spacing: .09em;
        margin-top: 0px;
        color: #FF09F3;
        opacity: .7;
    }

    #highlight-myskill {
        color: #dcdcdc;
    }

    #transparent-text-mySkill {
        display: flex;
        position: absolute;
        transform: translateY(30px);
        font-size: 70px;
        color: #6817b956;
        z-index: -1;
        margin-top: 0px;
    }


    /* ----------------- */

    .skil-set-item:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 74px;
        left: 8px;
        width: 4px;
        height: 0;
        /* Initially hide the line */
        background: #ddd;
        z-index: -1;
        transition: height 0.6s ease-in-out;
    }

    .skil-set-item.show-line:not(:last-child)::after {
        height: 120%;
        /* Adjust this value to control the line height */
    }



    .skil-set-content {
        min-width: 260px;
        max-width: 260px;
        height: 150px;
        padding: 10px 20px;
        background: #6817b970;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        opacity: 0.5;
        /* Default opacity for all items */
        transition: opacity 0.3s ease-in-out;
    }

    .skil-set-content h3 {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 18px;
        font-family: 'BARTKEY', sans-serif;
        font-weight: lighter;
        letter-spacing: .1em;
        color: #dcdcdc;
    }

    .skil-set-content .tech-holder {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100px;
        align-items: center;
        gap: 10px;
    }

    .skil-set-content .tech-used p {
        display: flex;
        margin: 0;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: .1em;
        color: #dcdcdc;
        align-items: center;
    }

    .skil-set-content .tech-used svg{
        width: 17px !important;
        height: 17px !important;
    }
}

/* mobile */
@media (max-width: 767px) {
    .my-skill .my-skill-title h1 {
        font-size: 30px;
        letter-spacing: .09em;
        margin-top: 0px;
        color: #FF09F3;
        opacity: .7;
    }

    #highlight-myskill {
        color: #dcdcdc;
    }

    #transparent-text-mySkill {
        display: flex;
        position: absolute;
        transform: translateY(20px);
        font-size: 42px;
        color: #6817b956;
        z-index: -1;
        margin-top: 0px;
    }

    .my-skill .skill-holder {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    /* ----------------- */

    .skil-set-item{
        height: fit-content;
    }

    .skil-set-item:not(:last-child)::after {
        content: '';
        position: absolute;
        top: 45%;
        left: 8px;
        width: 4px;
        height: 0;
        /* Initially hide the line */
        background: #ddd;
        z-index: -1;
        transition: height 0.6s ease-in-out;
    }

    .skil-set-item.show-line:not(:last-child)::after {
        height: 100%;
        /* Adjust this value to control the line height */
    }

    .skil-set-item.show-line:not(:nth-child(4))::after {
        height: 115%;
        /* Adjust this value to control the line height */
    }


    .skil-set-content {
        min-width: 250px;
        max-width: 250px;
        height: fit-content;
        padding: 10px 20px;
        background: #6817b970;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        opacity: 0.5;
        /* Default opacity for all items */
        transition: opacity 0.3s ease-in-out;
    }

    .skil-set-content h3 {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 18px;
        font-family: 'BARTKEY', sans-serif;
        font-weight: lighter;
        letter-spacing: .1em;
        color: #dcdcdc;
    }

    .skil-set-content .tech-holder {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;
        align-items: center;
        gap: 10px;
    }


    .skil-set-content .tech-used p {
        display: flex;
        margin: 0;
        font-weight: 600;
        font-size: 10px;
        letter-spacing: .1em;
        color: #dcdcdc;
        align-items: center;
    }

    .skil-set-content .tech-used svg{
        width: 10px !important;
        height: 10px !important;
    }



}