/* tablet */
@media (max-width: 1023px) {

    .my-resume .my-resume-title h1 {
        font-size: 50px;
        letter-spacing: .09em;
        margin-top: 0px;
        color: #dcdcdc;
        opacity: .7;
    }

    #transparent-text-myresume {
        display: flex;
        position: absolute;
        transform: translateY(30px);
        font-size: 70px;
        color: #6817b956;
        z-index: -1;
        margin-top: 0px;
    }

    .my-resume .my-resume-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

}

/* mobile */
@media (max-width: 767px) {
    .my-resume {
        margin-top: 140px !important;
    }

    .my-resume .my-resume-title h1 {
        font-size: 30px;
        letter-spacing: .09em;
        margin-top: 0px;
        color: #dcdcdc;
        opacity: .7;
    }

    #transparent-text-myresume {
        display: flex;
        position: absolute;
        transform: translateY(20px);
        font-size: 42px;
        color: #6817b956;
        z-index: -1;
        margin-top: 0px;
    }


    .resume-section {
        min-width: 330px;
        max-width: 330px;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        align-self: start;
    }

    .resume-item::before {
        content: '';
        position: absolute;
        top: 17px;
        left: 9px;
        width: 10%;
        height: 5px;
        background: #ddd;
        z-index: -1;
        border-radius: 10px;
    }


    #content-subtitle {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bolder;
        font-size: 18px;
        color: #ff09f3d1;
    }

    .resume-content p {
        margin: 0px;
        color: #dcdcdc;
        font-weight: 500;
        letter-spacing: 0.12em;
        font-size: 12px;
    }
}