/* tablet */
@media (max-width: 1023px) {
    .contact{
        height: fit-content !important;
        margin-top: 120px !important;
    }
    .contact .contact-holder{
        min-width: 600px;
        max-width: 600px;
        display: flex;
        justify-content: last baseline;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .social-media{
        min-width: 600px;
        max-width: 600px;
        min-height: 450px;
        max-height: 450px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
}

/* mobile */
@media (max-width: 767px) {
    .contact .contact-holder{
        min-width: 350px;
        max-width: 350px;
        display: flex;
        justify-content: last baseline;
        align-items: center;
        flex-direction: column;
    }
    
    .social-media{
        min-width: 320px;
        max-width: 320px;
        min-height: fit-content !important;
        max-height: fit-content !important;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .contact-form{
        min-width: 320px;
        max-width: 320px;
        min-height: 450px;
        max-height: 450px;
        display: flex;
        justify-content: center;
    }
    
    .media-content{
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        min-height: 50px;
        max-height: 50px;
    }
    
    .social-media h1{
        margin-top: 0px;
        border-bottom: 4px solid;
        width: fit-content;
        margin-bottom: 0px;
        font-size: 32px;
        letter-spacing: 0.1em;
        opacity: .9;
    }

    .social-media p{
        font-size: 12px;
    }
    
    .media-icon{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #6817B9;
        border-radius: 50%;
    }
    
    .media-content h1{
        text-decoration: none;
        color: #dcdcdc;
        font-size: 16px;
        letter-spacing: 0.1em;
        border-bottom: 0px;
    }
    
    .social-media p{
        margin-top: 0px;
        color: #dcdcdc;
    }
    
    .media-content a{
        text-decoration: none;
        color: #dcdcdc;
        font-size: 16px;
        letter-spacing: 0.1em;
    }
    
    .media-content img{
        width: 40px;
    }
   
    .contact-form{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .contact-inputs{
        min-width: 320px;
        max-width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }
    
    .contact-form input{
        width: 80%;
        height: 25px;
        background-color: #6817b900;
        border: 2px solid #dcdcdcc9;
        border-radius: 5px;
        font-family: 'Noto Sans Pahawh Hmong', sans-serif;
        font-weight: 700;
        letter-spacing: 0.1em;
        padding: 10px;
        color: #dcdcdc;
    }
    
    .contact-form textarea{
        min-width: 300px;
        max-width: 300px;
        height: 220px;
        background-color: #6817b900;
        border: 2px solid #dcdcdcc9;
        border-radius: 5px;
        font-family: 'Noto Sans Pahawh Hmong', sans-serif;
        font-weight: 700;
        letter-spacing: 0.1em;
        padding: 10px;
        color: #dcdcdc;
    }
    
    .contact-form button{
        width: fit-content;
        padding: 15px;
        padding-left: 45px;
        padding-right: 45px;
        background-color: #6817B9;
        font-family: 'Noto Sans Pahawh Hmong', sans-serif;
        color: #dcdcdc;
        font-weight: 700;
        letter-spacing: 0.1em;
        margin-top: 0px;
        border-radius: 5px;
        border: 0px;
    }
    
    
    
    
    /* Notification styles */
    .notification {
        display: none;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 15px 30px;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
        z-index: 1000;
        text-align: center;
    }
    
    .notification.success {
        background-color: #28a745; /* Green */
    }
    
    .notification.error {
        background-color: #dc3545; /* Red */
    }
}